/* #region base */
body {
    font-family: "Poppins",
        sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
}

img {
    display: block;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* #endregion base*/

/* #region header */

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 237px;
}

.nav-logo {
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    /* line-height: 28px; */
    line-height: 0.93333;
    color: #173a56;
    display: flex;
    gap: 16px;
}

.nav-logo-img {}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-list-item {}

.nav-list-link {
    font-weight: 400;
    font-size: 16px;
    padding: 26px 0;
    display: block;
    /* line-height: 28px; */
    line-height: 1.75;
    color: #22343d;
}

.current {
    font-weight: 600;
}

.header-list-btn {
    display: flex;
    gap: 21px;
}

.header-item-btn {}

.header-btn {
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;

}

.sign-in {
    border: 1px solid #bcd0e5;
    width: 105px;
    height: 42px;
    color: #173a56;
    background-color: #fff;
}

.sign-up {
    width: 113px;
    height: 42px;
    background: #02897a;
    color: #fff;
}

/* #endregion header*/

/* #region hero */
.hero {
    padding: 25px 0 50px;
}

.hero .container {
    display: flex;
    align-items: center;
    gap: 35px;
}

.hero-title {
    font-weight: 700;
    font-size: 40px;
    max-width: 385px;
    /* line-height: 60px; */
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 18px;
}

.hero-title-descr {
    font-weight: 400;
    font-size: 18px;
    /* line-height: 28px; */
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;
}

.hero-list-btn {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-list-item {}

.hero-btn {
    border-radius: 4px;
    font-size: 16px;
}

.get-started {
    background: #02897a;
    color: #fff;
    font-weight: 700;
    width: 178px;
    height: 53px;
}

.watch-btn {
    background: transparent;
    width: 164px;
    height: 23px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
}

/* #endregion hero*/

/* #region specifically */
.specifically {
    padding: 50px 0 70px;
}

.container {}

.specifically-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    max-width: 530px;
    margin: 0 auto 50px;
    margin-bottom: 50px;
}

.specifically-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.specifically-list-item {
    width: calc((100% - 90px) / 4);
}

.spec-wrap {
    margin-bottom: 18px;
    border-radius: 19px;
    width: 54px;
    height: 54px;
}

.green {
    background: #02897a;
}

.blue {
    background: #4d8dff;
}

.fiolet {
    background: #740a76;
}

.red {
    background: #f03e3d;
}

.specifically-item-title {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
    margin-bottom: 13px;
}

.specifically-item-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}


.specifically-btn {
    border-radius: 4px;
    width: 175px;
    height: 53px;
    background: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
}

/* #endregion specifically */
/* #region managament */
.management {
    padding-top: 91px;
    padding-bottom: 50px;
}

.management .container {
    display: flex;
    align-items: center;
    gap: 84px;
}

.managament-main-text {}

.management-subtitle {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
}

.management-title {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
}

.management-title-descr {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.management-list {}

.management-list-item {}

.management-item-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.management-item-subtitle {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.management-list-item:not(:last-child) {
    margin-bottom: 25px;

}

/* #endregion managament*/
/* #region customer */

.customer {
    padding: 50px 0;
}

.customer-wrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 94px;
}

.customer-main-text {}

.customer-subtitle {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 8px;
}

.customer-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}

.customer-title-descr {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

.customer-list {}

.customer-list-item {
    display: flex;
    gap: 30px;
}

.customer-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.customer-item-wrap {
    width: 35px;
    height: 35px;
    border: 2.92px solid #fff;
    border-radius: 14px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-wrap {
    background-color: #FF9900;
}

.red-wrap {
    background-color: #F03E3D;
}

.blue-wrap {
    background-color: #4D8DFF;
}

.customer-item-icon {
    fill: #fff;
}

.customer-item-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}

/* #endregion customer*/

/* #region collaborative */
.collaborative {
    padding: 50px 0 75px;
}

.collaborative-wrap {
    display: flex;
    align-items: center;
    gap: 84px;
}

.collaborative-main-text {}

.collaborative-subtitle {
    font-weight: 600;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 8px;
}

.collaborative-title {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
}

.collaborative-title-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 30px;
}

.collaborative-list {}

.collaborative-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.collaborative-item-title {
    font-weight: 600;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 12px;
}

.collaborative-item-descr {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
}


/* #endregion collaborative*/
/* #region process */



.process-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
}

.process-title-descr {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 40px;
    /* line-height: 26px; */
    line-height: 1.625;
    text-align: center;
    color: #22343d;
    max-width: 542px;
    margin: 0 auto;
}

.process-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 100px;
    justify-content: center;
    margin-bottom: 50px;
}

.process-list-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.process-list-item:nth-child(2),
.process-list-item:nth-child(3) {
    flex-direction: row-reverse;
}

.process-item-descr {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    width: 281px;
    fill: #fff;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    border-radius: 25px;
    padding: 14px 19px 12px 20px;
}

.process-btn {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    width: 216px;
    height: 53px;
    border-radius: 4px;
    background: #02897a;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.process-btn:hover,
.process-btn:focus {
    background-color: #336666;
}

/* #endregion process*/
/* #region strategy*/

.strategy {
    padding: 50px 0 150px;
}

.container {}

.strategy-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 10px;
}

.strategy-title-descr {
    font-weight: 500;
    font-size: 16px;

    /* line-height: 26px; */
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 40px;
}

.strategy-list {
    display: flex;
    gap: 30px;
}

.strategy-list-item {
    border-radius: 8px;
    width: calc((100% - 60px) / 3);
    border: 1px solid #dedede;
}

.strategy-item-author {
    padding: 24px 27px 40px;
}

.strategy-author {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 28px; */
    line-height: 1.75;
    color: #22343d;
    margin-bottom: 12px;
}

.mind {
    color: #02897a;
}

.author {
    font-weight: 700;
}

.strategy-item-descr {}

/* #endregion strategy*/
/* #region price */

.price {
    padding: 85px 0 50px;
}

.container {}

.price-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.price-title-descr {
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
}

.price-list {
    display: flex;
    gap: 72px;
}

.price-list-item {
    text-align: center;
    width: calc((100% - 144px) / 3);
    padding: 32px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    color: #22343d;

}


.price-item-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
    /* line-height: 40px; */
    line-height: 1.66667;

}

.price-item-descr {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    /* line-height: 40px; */
    line-height: 2.5;

}

.item-price {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 16px;
}

.card-price {
    font-weight: 700;
    font-size: 76px;

    /* line-height: 100px; */
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
    font-family: "Montserrat", sans-serif;
}

.card-tarif {}

.card-price-valute {
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin-bottom: 7px;
    /* line-height: 30px; */
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
    font-family: "Inter", sans-serif;
}

.card-price-period {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 19px; */
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
    font-family: "Montserrat", sans-serif;
}

.operations-list {
    margin-bottom: 30px;
}

.operations-list-item {
    font-weight: 500;
    font-size: 16px;

    /* line-height: 22px; */
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #22343d;
    font-family: "Montserrat", sans-serif;
}

.operations-list-item:not(:last-child) {
    margin-bottom: 16px;
}

.price-item-btn {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    background: #02897a;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-list-item:nth-child(2) {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #02897a;
    color: #fff;
}

.price-list-item:nth-child(2) .card-price {
    color: #fff;
}

.price-list-item:nth-child(2) .card-price-valute {
    color: #fff;
}

.price-list-item:nth-child(2) .card-price-period {
    color: #e0e0e0;
}

.price-list-item:nth-child(2) .operations-list-item {
    color: #fff;
}

.price-list-item:nth-child(2) .price-item-btn {
    background: #fff;

    color: #02897a;
}

/* #endregion price*/

/* #region clients */
.clients {
    padding: 50px 50px;
}

.clients-title {
    font-weight: 700;
    font-size: 32px;

    text-align: center;
    /* line-height: 57px; */
    line-height: 1.78125;
    letter-spacing: 0.01em;
    color: #22343d;
    margin-bottom: 10px;
}

.clients-title-descr {
    font-weight: 500;
    font-size: 16px;
    max-width: 537px;
    margin: 0 auto;
    margin-bottom: 40px;
    /* line-height: 28px; */
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
}

.clients-list {
    display: flex;
    gap: 64px;
}

.clients-item {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 28px 26px;
    width: calc((100% - 64px * 2) / 3);

}

.clients-list-stars {
    gap: 4px;
    display: flex;
    margin-bottom: 16px;
}

.clienta-item-stars {
    fill: #F3CD03;
}

.clients-item-descr {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    /* line-height: 28px; */
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
}

.clients-item-name {
    font-weight: 600;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.clins-item-prof {
    font-weight: 500;
    font-size: 14px;

    /* line-height: 24px; */
    line-height: 1.71429;
    letter-spacing: 0.01em;
    color: #252b42;
}

.clients-item-wrap {
    display: flex;
    gap: 14px;
}

.clients-item-text {}




/* #endregion clients*/

/* #region promo */
.promo {
    padding: 50px 50px;

}


.promo .container {
    display: flex;
    gap: 15px;
    align-items: center;
    border-radius: 32px;
    padding: 0 35px 0 51px;
    width: 968px;
    height: 345px;
    background: #02897a;
}

.promo-wrap {}

.promo-descr {
    font-weight: 600;
    font-size: 32px;

    /* line-height: 48px; */
    line-height: 1.514;
    color: #fff;
    margin-bottom: 56px;
}

.promo-btn {
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background: #fff;
    font-weight: 600;
    font-size: 20px;
    color: #22343d;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion promo*/

/* #region footer */
.footer {
    padding: 50px 0 34px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}


.footer-social-list {
    display: flex;
    gap: 16px;
    margin-top: 25px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    background-color: #EDFFFC;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.footer-social-icon {
    stroke: #02897a;
    fill: transparent;
}

.footer-container {}


.footer-resourses-list {}

.footer-resourses-item:not(:last-child) {
    margin-bottom: 8px;
}

.footer-logo {
    font-weight: 700;
    font-size: 30px;
    align-items: center;
    /* line-height: 28px; */
    line-height: 0.93333;
    color: #173a56;
    display: flex;
    gap: 16px;
}

.footer-stuff,
.footer-resourses {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
    /* line-height: 30px; */
    line-height: 1.5;
    color: #22343d;
}

.footer-stuff-list {}

.footer-stuff-item:not(:last-child) {
    margin-bottom: 8px;
}

.footer-stuff-link,
.footer-resourses-link {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 35px; */
    line-height: 2.1875;
    color: #22343d;
}

.footer-form-title {
    font-weight: 500;
    font-size: 20px;
    max-width: 280px;
    /* line-height: 30px; */
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 34px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.footer-form-input {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
    background: #fff;
}

.footer-text-end {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 30px; */
    line-height: 1.875;
    color: #22343d;
    text-align: center;
}

.footer-btn {
    background: #02897a;
    border-radius: 4px;
    width: 131px;
    height: 39px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* #endregion footer*/